.options-modal {
    background: #0009;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    font-family: sans-serif;
    display: none;
}
.options-modal .modal-content {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: auto;
    margin: auto;
    margin-top: 56px;
    background: #cdcdcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    padding: 16px;
}
.preview {
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid #232323;
}
.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
form {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
            "input input"
            "button1 button2";
}
.icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    color: #fc0000;
}
.btn-dark {
    border: 1px solid #000;
}
.btn-dark:hover {
    border: 1px solid #000;
}

/*? animations*/
@keyframes modal-entry {
    0% {
        opacity: 0;
        transform: translateY(-110vh);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes modal-out {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-110vh);
    }
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4px;
}
.form-group-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 24px;
    gap: 24px;
}
.form-group-check {
    margin-left: 16px;
}
.form-group-check ul li{
    list-style: none;
}
.form-group label {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 8px;
}
.form-group input {
    height: 32px;
    padding: 4px 12px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.form-group input:focus-visible {
    box-shadow: 0 0 12px #ffa601;
}
.modal-buttons {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 0 24px;
}

.options-container {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.option-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.option-item {
    list-style: none;
    margin: 24px 0;
    width: 100%;
    text-align: center;
}
.option-item button {
    border: 1px solid #c6c6c6;
    width: 100%;
}

@media screen and (max-width: 768px){
    .options-modal .modal-content {
        width: 80%;
        min-height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}